body { 
    margin:0;
    font-family: Arial;
    background:#f4f6f9;
     }
header {
     background:#3c8dbc; 
     color:white; 
     padding:15px; 
     text-align:center;
     }
.container {
     display:flex; 
    }
.sidebar { 
    width:180px;
     background:#222d32; 
     color:white;
      min-height:100vh;
     }

.sidebar ul li { 
    padding:20px;
    cursor:pointer;
     }
.sidebar ul li:hover { 
    background:#011e21; 
}
.main-content {
     flex:10; 
     padding:20px; }
.kpis { 
    display:flex; /*sert a organiser les elements de facon flexible*/
    gap:10px; /*40 px est la distance entre chaque item*/
    margin-bottom:10px; /*20 px d espace sous le paragraphe*/
    margin-right:20px;
    padding:10px;

 }
 
.kpi-card {
     background:white; 
     flex:1; //hissa wehda mn la surface
     padding:20px; 
     border-radius:8px; 
     box-shadow:0 2px 5px rgba(0,0,0,0.1);
     text-align:center;
     margin:10px;
     }
.kpi-card h3 { 
    color:#3c8dbc;
 }
.kpi-card p { 
    font-size:24px; 
    font-weight:bold; 
    margin-top:10px; 
    margin-bottom:10px; 
}
.charts {
    padding-top: 20px;
     display:flex; 
     gap:20px; 
     margin-bottom:20px; 
    }
.chart-card { 
    flex:1; 
    background:white; 
    padding:20px; 
    border-radius:8px; 
    box-shadow:0 2px 5px rgba(0,0,0,0.1); 
}
.table-section {
     background:white; 
     padding:20px; 
     border-radius:8px; 
     box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);//ombre deriere un elem 
    }
table { 
    width:100%; 
    border-collapse: collapse;//makib0awch ybano les lignes entre le tableau
 }
th, td { 
    border:1px solid #ddd;
     padding:8px; 
     text-align:center; 
    }
th {
     background:#3c8dbc; 
     color:white; }
img { 
    width:50px; 
}
a{
    color:#f4f6f9;
    font-size: 18px;            /* taille normale */
    display: inline-block;       /* nécessaire pour que transform fonctionne bien */
    transition: transform 0.3s;  /* durée de l’animation */
    text-decoration: none; /* supprime le soulignement */
}
a:hover{
    transform: scale(1.5);      /* agrandit le texte à 1.5 fois sa taille */
}
.bodyform{
    background-color: #a1c6db;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titre{
    text-decoration: underline;
    text-transform: uppercase;
}
input{
    border-radius: 10%;
    box-shadow: #a1c6db;
}
.button{
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 20px;
    margin-top: 10px;
}
.button:hover{
    background-color: #3c8dbc;
    transform: scale(1.2);
}
canvas {
    width: 400px;
    height: 200px;
  }
  .chart-statistique{
    width: 400px;
    height: 200px;
  }
    /*partie formulaire */
* {
    margin: 0;/*supprime les marges par défaut des navigateurs*/
    padding: 0;/*supprime les espacements internes par défaut*/
    box-sizing: border-box;/*largeur = contenu + padding + bordure*/
    font-family: "Poppins", sans-serif;
}

/* BACKGROUND */
.bodyform {
    min-height: 100vh;/*hauteur minimale = 100% de l’écran*/
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;/*active Flexbox*/
    justify-content: center;/*centre horizontalement*/
    align-items: center;/*centre verticalement*/
}

/* FORM CONTAINER */
.form {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);/*floute l’arrière-plan (effet verre)*/
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;/*coins arrondis*/
    padding: 35px 40px;/*espace intérieur*/
    width: 380px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
 
}

/* TITLE */
.titre {
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: block;/*occupe toute la ligne*/
}

/* INPUTS & SELECT */
.form input,
.form select {
    width: 100%;
    padding: 12px 15px;
    margin-top: 8px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.4s ease;/*les transform change ds 0.4s*/
}

/* FOCUS EFFECT */
.form input:focus,
.form select:focus {
    transform: scale(1.03);/*quand l’utilisateur clique input grandit de taille*/
    box-shadow: 0 0 10px rgba(118, 75, 162, 0.6);
}

/* BUTTON */
.button {
    margin-top: 15px;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.button:hover {
    transform: translateY(-3px);/*bouton monte */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);/*ombre quand on passe souris*/
    background: linear-gradient(135deg, #dd2476, #ff512f);
}

/* RESULT TEXT */
.resultat {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
   
}

.titrequest{
    color:#3c8dbc;
    font-family: Arial, Helvetica, sans-serif;
}

/*a propos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER GLOBAL */
.brands-section {
    width: 100%;
    padding: 60px 40px;
    text-align: center;
    background: #fff;
}

/* LIGNE AU-DESSUS DU TITRE */
.brands-line {
    width: 60px;
    height: 3px;
    background: #000;
    margin: 0 auto 20px auto;
}

/* TITRE */
.brands-section h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* CONTENEUR DES LOGOS */
.brands-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #ddd;
}

/* CHAQUE MARQUE */
.brand-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-right: 1px solid #ddd;
}

/* SUPPRIMER LA DERNIÈRE BORDURE */
.brand-box:last-child {
    border-right: none;
}

/* LOGOS */
.brand-box img {
    max-width: 120px;
    max-height: 70px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

/* HOVER */
.brand-box img:hover {
    opacity: 1;
    transform: scale(1.1);
}
/*a propos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    padding: 40px;
}

.features {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-card {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px 40px;
    border-radius: 60px;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.icon {
    width: 70px;
    height: 70px;
    background: #3b3b3b;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    flex-shrink: 0;
}

.content h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000;
}

.content p {
    font-size: 16px;
    color: #6b6b6b;
    line-height: 1.6;
}

.btnFAQ{
    
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
    height: 30px;
    position: fixed;   /* Le bouton reste en haut même quand on scroll */
    top: 10px;         /* Distance depuis le haut de la page */
    left: 10px;        /* Distance depuis la gauche */
    z-index: 1000;     /* Pour qu'il soit au-dessus d'autres éléments */
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btnFAQ:hover {
    transform: translateY(-3px);/*bouton monte */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);/*ombre quand on passe souris*/
    background: linear-gradient(135deg, #0e7eba, #19bdda);
}