body { 
    margin:0;
    font-family: Arial;
    background:#f4f6f9;
     }
header {
     background:#3c8dbc; 
     color:white; 
     padding:15px; 
     text-align:center;
     }
.container {
     display:flex; 
    }
.sidebar { 
    width:180px;
     background:#222d32; 
     color:white;
      min-height:100vh;
     }

.sidebar ul li { 
    padding:20px;
    cursor:pointer;
     }
.sidebar ul li:hover { 
    background:#011e21; 
}
.main-content {
     flex:10; 
     padding:20px; }
.kpis { 
    display:flex; /*sert a organiser les elements de facon flexible*/
    gap:10px; /*40 px est la distance entre chaque item*/
    margin-bottom:10px; /*20 px d espace sous le paragraphe*/
    margin-right:20px;
    padding:10px;

 }
 
.kpi-card {
     background:white; 
     flex:1; //hissa wehda mn la surface
     padding:20px; 
     border-radius:8px; 
     box-shadow:0 2px 5px rgba(0,0,0,0.1);
     text-align:center;
     margin:10px;
     }
.kpi-card h3 { 
    color:#3c8dbc;
 }
.kpi-card p { 
    font-size:24px; 
    font-weight:bold; 
    margin-top:10px; 
    margin-bottom:10px; 
}
.charts {
    padding-top: 20px;
     display:flex; 
     gap:20px; 
     margin-bottom:20px; 
    }
.chart-card { 
    flex:1; 
    background:white; 
    padding:20px; 
    border-radius:8px; 
    box-shadow:0 2px 5px rgba(0,0,0,0.1); 
}
.table-section {
     background:white; 
     padding:20px; 
     border-radius:8px; 
     box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);//ombre deriere un elem 
    }
table { 
    width:100%; 
    border-collapse: collapse;//makib0awch ybano les lignes entre le tableau
 }
th, td { 
    border:1px solid #ddd;
     padding:8px; 
     text-align:center; 
    }
th {
     background:#3c8dbc; 
     color:white; }
img { 
    width:50px; 
}
